@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(185, 41%, 84%);
  font-family: 'Space Mono', monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.3rem;
  color: hsl(186, 14%, 43%);
  margin-bottom: 2rem;
}

.form-container {
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  width: 50vw;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.form {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form label {
  color: hsl(186, 14%, 43%);
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.form input {
  font-size: 24px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid hsl(189, 41%, 97%);
  width: 100%;
  box-sizing: border-box;
  text-align: right; 
}

.tip-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.tip-btn {
  width: 100%;
  height: 50px;
  background-color: hsl(183, 100%, 15%);
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-tip {
  width: 100%;
  height: 50px;
  font-size: 24px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid hsl(189, 41%, 97%);
  box-sizing: border-box;
}

.output {
  flex: 1;
  background-color: hsl(183, 100%, 15%);
  color: white;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
}

.tip-amount-total {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tip-amount-total > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount {
  font-size: 36px;
  font-weight: 700;
  color: hsl(172, 67%, 45%);
}

.reset-btn {
  width: 100%;
  height: 50px;
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}
.input-container{
    position: relative;
}
.input-container .icon {
    position: absolute;
    top:25%;
    left: 3%;
}
@media (max-width: 768px) {
  .container{
    height: 100vh;
  }
  .form-container {
    flex-direction: column;
    width: 90vw;
  }
  
  .form {
    flex:1;
  }
  
  .output {
    min-height: 200px;
  }
}