
/* >> GENERAL STYLES
   styles that represent the default appearance of primary elements */

body {
    align-items: center;
    align-self: flex-start;
    background-color: #C5E4E8;
    display: flex;
    flex-direction: column;
    font: 800 1rem/1.5rem "Space Mono";
    height: 100vh;
    justify-content: flex-start;
    overflow: hidden;
    width: 100vw;
}

h1 {
    color: #416466;
    font-size: 24px;
    letter-spacing: 0.8rem;
    line-height: 2rem;
    margin-bottom: 4rem;
}

label {
    align-self: flex-start;
}

#root {
    border-radius: 20px;
    height: 40%;
    padding: 20px;
    width: 50%;
}

#app {
    height: 100%;
    width: 100%;
}

.display-panel {
    border-radius: 15px;
    height: 100%;
    justify-content: space-between;
    padding: 0 10px;
    width: 50%;
}

/* >> UTILITIES 
    Styling preferences are happen to apply to lots of different elements*/

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.gap-default {
    gap: 1.5rem;
}

.col-dir {  /* Sets a container to a flex-direction of 'column' */
    flex-direction: column;
}

/* >> SITEWIDE 
   Things like the basic page layout, the header, navigation styling, and so on... */

.conform-theme {
    background-color: white;
}

.contrast-theme {
    background-color: #00474B;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
}

.tip-option {
    font: 600 1.4rem 'Space Mono';
    background-color: #00474B;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
    width: 90%
}

.tip-option[class~="selected"] {
    background-color: #27C2AE;
    color: #00474B;
}

.custom-box {
    text-align: center;
    background-color: #F3F8FB;
    color: #00474B;
}

.custom-box::placeholder {
    color: #667877;
}

.form-var {
    font-size: 12px;
    color: #667877;
    gap:0;
    width: 100%;
}

.input-box-large {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-box-large > img {
    position: absolute;
    offset-position: normal;
    padding: 0px 16px;
    z-index: 1;
}

.input-box-large > input {
    background-color: #F3F8FB;
    border: 0;
    border-radius: 5px;
    color: #00474B;
    font: 400 1.5rem 'Space Mono';
    width: 100%;
    text-align: right;
}

.input-box-large > input::placeholder {
    color: #c9cbcb;
}



/* Title */

